* {
    padding: 0;
    margin: 0;
}


/* svg  style */

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}




/* header style */

.logo{
    height: 40px;
    width: auto;
    margin-left: 1rem;
}

.header__top {
    display: flex;
    justify-content: space-between;
    margin: 1rem 2rem;
}

.header__email a,
.header__socials{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 1rem;
    text-decoration: none;
}

.header__socials a{
    color: black;
}

.header__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 34px;
    margin: 1rem 2rem;
    padding: 1rem 2rem;
}

.header__bottom ul {
    display: flex;
    gap: 1rem;
}

.header__bottom li {
    list-style: none;
    margin-right: 2rem;
    font-size: 20px;
    font-family: jura, sans-serif;
}

.header__bottom a:hover {
    color: rgb(251, 19, 197);
    cursor: pointer;
}

.header__bottom a {
    color: white;
    text-decoration: none;
}


.menu-toggle {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.header__logo--black {
    display: none;
}



/* media query */
@media(max-width: 480px){
    .header__top {
        display: none;
    }

    .header__bottom {
        background: transparent;
        margin: 0;
        justify-content: left;
    }


    .header__logo {
        display: none;
    }

    .header__logo--black {
        display: block;
        
    }

    #menu-toggle {
        display: block;
        color: black;
        position: relative;
    }

    .navbar__list {
        display: none  !important;
        flex-direction: column;
        background: #444;
        position: absolute;
        top: 70px;
        left: 32px;
        width: 200px;
        padding: 15px;
        border-radius: 8px;
    }

    .navbar__list.active {
        display: flex !important;
    }

    
}
