/* intro  style */
*{
    padding: 0;
    margin: 0;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;        /* ensures full screen height */
    background-color: #F1F1F1;
    margin: 2rem;
    border-radius: 10px;
    /* position: relative;       */
    overflow: hidden;         /* hides overflow of side designs */
}

.design {
    width: 2rem;
    background-color: #FFAB35;
    height: 100vh;            /* now works because parent has min-height */
    position: absolute;
    top: 0;
}

.left__design {
    position: relative;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    left: 0;
}

.right__design {
    position: relative;
    right: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.main__intro {
    /* position: relative; */
    z-index: 1;
    display: flex;
    align-items: center;   /* vertically align image and text */
    gap: 2rem;             /* spacing between image and text */
}


.intro__photo {
    height: 30rem;
    width: 25rem;
    object-fit: cover;
    border-radius: 35px;
    box-shadow: -8px 8px 8px rgb(164, 164, 164);
}

.intro__greeting {
    font-family: 'UnifrakturCook', cursive;
    font-size: 4em;
    color: transparent;
    -webkit-text-stroke: 4px #FA9200;
    text-transform: uppercase;
    margin: 0;
}

.intro__text {
    font-family: 'alegreya sc', serif;
}

.intro__text strong{
    font-size: 3.5em;
}

.intro__text span{
    font-size: 2em; 
    font-weight: bold
}

.skill__title,
.intro__description {
    font-family: Andada Pro, serif;
    font-size: 1.5em;
    margin-top: 1rem;
}

.skill__title {
    background-color: #FA9200;
    display: inline-block;
    padding: 0.5rem;
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
}

.intro__description {
    margin: 1rem 0;
    max-width: 500px;
}



.btn--primary {
    background-color: #5002b0;
    color: #fff;
    font-family: Alkatra, cursive;
    font-size: 1.5rem;

    padding: 0 0.5rem;
    border: 2px solid #5002b0;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 1s ease;
    position: relative;
    overflow: hidden;
}

.btn--primary::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    transform: skewX(-20deg);
    transition: all 0.5s ease;
}

.btn--primary:hover {
    color: #5002b0;
    background-color: transparent;
    transform: scale(1.05);
}

.btn--primary:hover::after {
    left: 100%;
}



/* ABOUT ME  */
.about__me-section{
    background-color: #D7D7D7;
    padding: 4rem;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.about__me-section hr{
    border: 2px solid #FFAB35;
    width: 15rem;
    margin: 1rem 0;
}

.about__me{
    font-family: 'kavoon', cursive;
    font-size: 40px;
}

.about__me-description{
    font-family: 'karma', serif;
    font-size: 20px;
    margin-top: 2rem;
    line-height: 1.8;
    text-align: justify;
}

.about__me-description span{
    font-size: 2rem;
}

.what__i-do-title{
    display: inline-block;
    font-family: 'kavoon', cursive;
    font-size: 20px;
    background-color: #B13BFF;
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 20px;
    margin: 1rem 0;   
}

.about__me-web-design{
    background-color: #C4C4C4;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    width: fit-content;
    border-radius: 10px;
    box-shadow: -4px 4px 4px gray;
    font-size: 18px;
    font-family: 'karma', serif;
}

@media(max-width: 768px){
    .intro{
        width: 100%;
        margin: 0;
        margin-bottom: 2rem;
        border-radius: 20px;
        box-shadow: 0 4px 8px rgb(164, 164, 164);
        min-height: auto;
    }

    /* main section display none */
    .design, .intro__greeting{
        display: none;
    }

    .main__intro{
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;
        /* margin-bottom: 4rem; */
    }

    .intro__photo{
        width: 225px;
        height: 225px;
        border-radius: 50%;
        object-fit: cover;
        object-position: top;
        margin-top: 2rem;
    }

    .intro__content{
        text-align: center;
    }

    .intro__description{
        max-width: 400px;
    }
    

    /* about me section */
    .about__me-section{
        padding: 1rem;
        padding-bottom: 4rem;
        border-radius: 20px;
    }   

    .about__me{
        font-size: 1.5rem;
    }

    .about__me-section hr{
        width: 8rem;
        margin: 0.5rem 0;
    }

    .about__me-description{
        font-size: 1rem;
        margin-top: 1rem;
    }

    .what__i-do-section .icon{
        width: 1.5rem;
        height: 1.5rem;
    }

    .web__design-description{
        font-size: 1rem;
    }

    .btn--primary{
        font-size: 1rem;
    }

}